<div data-hubiso-module="root.docs_n_records.settings" root-dnr-settings-win-rsz ng-controller="rootDnrSettingsCtrl" ng-style="style">
    <div class="row">
        <div class="col-xs-4">

            <div class="row" id="root.docs_n_records.settings.form.box.title">
                <div class="col-xs-12">
                    <div>Document Control</div>
                </div>
            </div>

            <div class="row" id="root.docs_n_records.settings.form.box.logo">
                <div class="col-xs-12">
                    <img id="root.docs_n_records.settings.form.preview.logo" ng-show="logo_preview" src="">
                    <div id="root.docs_n_records.settings.form.prompt.logo" ng-hide="logo_preview">Add Logo</div>
                    <input id="root.docs_n_records.settings.form.input.logo" logo type="file">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="root.docs_n_records.settings.form.input.name">Hospital | Laboratory name</label>
                        <input type="text" class="form-control" ng-model="name" id="root.docs_n_records.settings.form.input.name" placeholder="Hospital | Laboratory name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="root.docs_n_records.settings.form.input.address">Address</label>
                        <textarea placeholder="Address" ng-model="address" id="root.docs_n_records.settings.form.input.address" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="root.docs_n_records.settings.form.input.reviewedby.name">Reveiwed by</label>
                        <input type="text" ng-model="reviewedby_name" class="form-control" id="root.docs_n_records.settings.form.input.reviewedby.name" placeholder="Name">
                        <input type="text" ng-model="reviewedby_position" class="form-control" id="root.docs_n_records.settings.form.input.reviewedby.position" placeholder="Position">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="root.docs_n_records.settings.form.input.approvedby.name">Approved by</label>
                        <input type="text" ng-model="approvedby_name" class="form-control" id="root.docs_n_records.settings.form.input.approvedby.name" placeholder="Name">
                        <input type="text" ng-model="approvedby_position" class="form-control" id="root.docs_n_records.settings.form.input.approvedby.position" placeholder="Position">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="root.docs_n_records.settings.form.input.authorisedby.name">Authorised by</label>
                        <input type="text" ng-model="authorisedby_name" class="form-control" id="root.docs_n_records.settings.form.input.authorisedby.name" placeholder="Name">
                        <input type="text" ng-model="authorisedby_position" class="form-control" id="root.docs_n_records.settings.form.input.authorisedby.position" placeholder="Position">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" ng-click="save()">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>