@import "../../colors/colors";
@import "../../dimens/dimens";

[data-hubiso-module="root.docs_n_records.nav_bar"]{
  background-color: hsla($hue, $sec-nav-bg-sat, $sec-nav-bg-light, $sec-nav-bg-alpha);
  border-bottom: 1px solid hsla(
                  $sec-nav-border-hue,
                  $sec-nav-border-sat,
                  $sec-nav-border-light,
                  $sec-nav-border-alpha
  );
  [class~="root.docs_n_records.nav_bar.option"]{
    height: $block-height;
    line-height: $block-height;
    vertical-align: middle;
    cursor: default;
    font-size:$block-height*.4;
  }
}