@import "../colors/colors";
@import "../dimens/dimens";
[data-hubiso-module="root.nav_bar"]{
  background-color: hsla($hue, $main-nav-bg-sat, $main-nav-bg-light, $main-nav-bg-alpha);

  [class~="root.nav_bar.nav_option"]{
    color: hsla($main-nav-txt-inert-hue,$main-nav-txt-inert-sat,$main-nav-txt-inert-light,$main-nav-txt-inert-alpha);
    height: $block-height;
    line-height: $block-height;
    vertical-align: middle;
    cursor: default;
    font-size:$block-height*.4;
    text-align: center;
  }

  [class~="root.nav_bar.nav_option"].active{
    color: hsla(
                  $main-nav-txt-active-hue,
                  $main-nav-txt-active-sat,
                  $main-nav-txt-active-light,
                  $main-nav-txt-active-alpha
                );

    background-color: hsla($hue, $sec-nav-bg-sat, $sec-nav-bg-light, $sec-nav-bg-alpha);
  }
}