@import "../colors/colors";
[data-hubiso-module="root.nav_bar"]{
  [id="root.nav_bar.options"]{
    margin: 0;
  }
}

[class~="root.nav_bar.nav_option"]:nth-child(1){
  margin-left: 0px;
}

[class~="root.nav_bar.nav_option"]{
  width: auto;
  font-size: large;
  padding: 5px 5px 1px;
  margin-left: 10px;
  transition: background-color .2s;
  transition: box-shadow .2s;
  transition: transform .2s;
  color: $colors-root-nav_bar-icon;
}

[class~="root.nav_bar.nav_option"]:hover{
  background-color: #fefefe;
  box-shadow: 0px 2px 5px #888888;
  transform: scale(1.05,1.05);
}
