@import "sidebar/sidebar";
@import "reviews/reviews";
@import "occurences/occurences";
@import "checklists/checklists";
@import "schedule/schedule";
@import "../../colors/colors";
@import "../../dimens/dimens";

[data-hubiso-module="root.ctns_imprvmt.mgt_review"] {
  overflow: auto;
  padding-bottom: 30px;
  .ui-splitbar{
      background: $border-color;
  }

  [ui-layout]{
    margin-top: $block-height*2;
  }
}

