@import "fonts/fonts";
@import "icon_fonts/icon_fonts";
@import "nav_bar/nav_bar";
@import "docs_n_records/docs_n_records";
@import "ctns_imprvmt/ctns_imprvmt";
@import "colors/colors";
@import "updater/updater";

body,.row{
  margin: 0;
}

body{
  font-family: raleway;
  background-color: hsla($hue,$body-bg-sat,$body-bg-light,$body-bg-alpha);
}

