@font-face {
  font-family: raleway;
  src: url(fonts/raleway/Raleway-Regular.ttf); }
@font-face {
  font-family: raleway-semi-bold;
  src: url(fonts/raleway/Raleway-SemiBold.ttf); }
@font-face {
  font-family: raleway-bold;
  src: url(fonts/raleway/Raleway-Bold.ttf); }
@font-face {
  font-family: "hubiso-icon-font";
  src: url("icon_fonts/fonts/hubiso-icon-font.eot");
  src: url("icon_fonts/fonts/hubiso-icon-font.eot?#iefix") format("embedded-opentype"), url("icon_fonts/fonts/hubiso-icon-font.woff") format("woff"), url("icon_fonts/fonts/hubiso-icon-font.ttf") format("truetype"), url("icon_fonts/fonts/hubiso-icon-font.svg#hubiso-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "hubiso-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="hubiso-icon-"]:before,
[class*=" hubiso-icon-"]:before {
  font-family: "hubiso-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hubiso-icon-briefcase:before {
  content: "a"; }

.hubiso-icon-bell:before {
  content: "c"; }

.hubiso-icon-bell-two:before {
  content: "d"; }

.hubiso-icon-file:before {
  content: "b"; }

.hubiso-icon-chevron-down:before {
  content: "e"; }

.hubiso-icon-page-pdf:before {
  content: "f"; }

.hubiso-icon-pencil:before {
  content: "g"; }

.hubiso-icon-print:before {
  content: "h"; }

.hubiso-icon-table:before {
  content: "i"; }

.hubiso-icon-thumbnails:before {
  content: "j"; }

.hubiso-icon-split:before {
  content: "k"; }

.hubiso-icon-refresh:before {
  content: "l"; }

.hubiso-icon-edit:before {
  content: "m"; }

.hubiso-icon-trash:before {
  content: "n"; }

.hubiso-icon-floppy:before {
  content: "o"; }

.hubiso-icon-check-mark:before {
  content: "p"; }

.hubiso-icon-remove:before {
  content: "r"; }

[data-hubiso-module="root.nav_bar"] {
  background-color: #204060; }
  [data-hubiso-module="root.nav_bar"] [class~="root.nav_bar.nav_option"] {
    color: #b3b3b3;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    cursor: default;
    font-size: 16px;
    text-align: center;
    transition: background 0.4s, color 0.4s; }
  [data-hubiso-module="root.nav_bar"] [class~="root.nav_bar.nav_option"].active {
    color: #204060;
    background-color: #fbfcfe; }
  [data-hubiso-module="root.nav_bar"] [class~="root.nav_bar.nav_option"]:hover {
    background-color: white;
    color: #204060; }

[data-hubiso-module="root.docs_n_records.nav_bar"] [id="root.docs_n_records.nav_bar.options"] {
  margin: 0; }
  [data-hubiso-module="root.docs_n_records.nav_bar"] [id="root.docs_n_records.nav_bar.options"] [class~="root.docs_n_records.nav_bar.option"]:nth-child(1) {
    margin-left: 0px; }
  [data-hubiso-module="root.docs_n_records.nav_bar"] [id="root.docs_n_records.nav_bar.options"] [class~="root.docs_n_records.nav_bar.option"] {
    width: auto;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 10px;
    -webkit-user-select: none;
    color: #434343;
    border-radius: 5px;
    cursor: default;
    transition: background-color .2s;
    transition: box-shadow .2s;
    transition: transform .2s; }
  [data-hubiso-module="root.docs_n_records.nav_bar"] [id="root.docs_n_records.nav_bar.options"] [class~="root.docs_n_records.nav_bar.option"]:hover {
    background-color: #fefefe;
    box-shadow: 0px 2px 5px #888888;
    transform: scale(1.05, 1.05); }

[data-hubiso-module="root.docs_n_records.settings"] {
  position: fixed;
  overflow: auto;
  height: 400px;
  width: 100%;
  top: 74px;
  padding-bottom: 30px; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.input.reviewedby.position"],
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.input.approvedby.position"],
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.input.authorisedby.position"] {
    margin-top: 8px; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.prompt.logo"] {
    border: 1px solid #cccccc;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    cursor: default; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.input.logo"] {
    display: none; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.preview.logo"] {
    width: 100%; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.box.logo"] {
    margin-bottom: 15px;
    margin-top: 15px; }
  [data-hubiso-module="root.docs_n_records.settings"] [id="root.docs_n_records.settings.form.box.title"] {
    margin-top: 15px; }

[data-hubiso-module="root.docs_n_records.master_list.edit"] {
  position: fixed;
  overflow: hidden;
  height: 400px;
  width: 100%;
  top: 74px;
  padding-bottom: 30px; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.title"] {
    margin-top: 10px;
    margin-bottom: 10px; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [class~="root.docs_n_records.master_list.edit.doc.name"] {
    border: none;
    outline: none;
    width: 80%; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .note-editor {
    border: none; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .col-xs-12 {
    padding: 0; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .note-editable.panel-body {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Bookman", Georgia, "Times New Roman", serif; }
    [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .note-editable.panel-body table {
      width: 100%;
      table-layout: fixed; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .note-statusbar {
    display: none; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .note-toolbar.panel-heading {
    background: none;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; }
  [data-hubiso-module="root.docs_n_records.master_list.edit"] [id="root.docs_n_records.master_list.edit.box.editor"] .modal-content {
    top: 72px; }

[class="modal-backdrop in"] {
  display: none; }

[data-hubiso-module="root.docs_n_records.master_list"] {
  position: fixed;
  overflow: auto;
  height: 400px;
  width: 100%;
  top: 74px;
  padding-bottom: 30px; }
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.doc.box"] {
    margin-top: 10px; }
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.newdoc.icon"],
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.doc.icon"] {
    border: 1px solid #cccccc;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: default;
    height: 130px;
    width: 100px; }
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.newdoc.prompt"],
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.doc.prompt"] {
    color: rgba(0, 0, 0, 0.6);
    font-size: small;
    cursor: default; }
  [data-hubiso-module="root.docs_n_records.master_list"] [class~="root.docs_n_records.master_list.category.box.title"] {
    margin-top: 15px;
    margin-bottom: 10px; }

[ui-view="root.docs_n_records.nav_bar"] {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 42px;
  z-index: 100; }

[data-hubiso-module="root.ctns_imprvmt.nav_bar"] {
  background-color: #fbfcfe;
  border-bottom: 1px solid #b3b3b3; }
  [data-hubiso-module="root.ctns_imprvmt.nav_bar"] [class~="root.ctns_imprvmt.nav_bar.option"] {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    cursor: default;
    font-size: 16px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review.sidebar"] [class~="root.ctns_imprvmt.mgt_review.sidebar.option"] {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  cursor: default;
  font-size: 16px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [class~="root.ctns_imprvmt.mgt_review.reviews.reviewlist.header"] {
  border-bottom: 1px solid #ccc; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [class~="root.ctns_imprvmt.mgt_review.reviews.reviewlist.entry"]:nth-of-type(2n) {
  background-color: #f0f0f0; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [id="root.ctns_imprvmt.mgt_review.reviews.reviewlist.save"] {
  cursor: default; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [class~="root.ctns_imprvmt.mgt_review.reviews.reviewlist.entry.action"] {
  display: inline-block;
  margin-left: 10px; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [class~="root.ctns_imprvmt.mgt_review.reviews.reviewlist.entry.action"]:nth-of-type(1),
[data-hubiso-module="root.ctns_imprvmt.mgt_review.reviews"] [class~="root.ctns_imprvmt.mgt_review.reviews.reviewlist.entry.action"]:nth-of-type(3) {
  margin-left: 0px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists.formbuilder"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action"] {
  display: inline-block;
  margin-left: 10px; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists.formbuilder"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action"]:nth-of-type(1) {
  margin-left: 0px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.header"] {
  border-bottom: 1px solid #ccc; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry"]:nth-of-type(2n) {
  background-color: #f0f0f0; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"] [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"] {
  cursor: default; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"] {
  display: inline-block;
  margin-left: 10px; }
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"] [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]:nth-of-type(1) {
  margin-left: 0px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] {
  padding-top: 10px; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label"] {
    text-align: right; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box"] {
    padding: 0; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv.box"] {
    margin-top: 10px; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv"] {
    cursor: default;
    display: none; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.action"] {
    cursor: default; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.reminder.time.val"] {
    text-align: right;
    width: 90px; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.remove.reminder"] {
    font-size: smaller;
    cursor: default; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.reminder"] {
    cursor: default;
    margin-bottom: 10px; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"] [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.subform.reminder"] {
    margin-bottom: 5px; }

[data-hubiso-module="root.ctns_imprvmt.mgt_review"] {
  overflow: auto;
  padding-bottom: 30px; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review"] .ui-splitbar {
    background: #ccc; }
  [data-hubiso-module="root.ctns_imprvmt.mgt_review"] [ui-layout] {
    margin-top: 80px; }

body, .row {
  margin: 0; }

body {
  font-family: raleway;
  background-color: #fafcff; }

/*# sourceMappingURL=app.css.map */
