@import "../../colors/colors";
[data-hubiso-module="root.ctns_imprvmt.calendar"]{
  #hiEventEditor{
    position: absolute;
    width: 400px;
    padding: 16px;
    display: none;
    z-index: 100;
    background-color: hsla(
                            $cim-calender-editor-bg-hue,
                            $cim-calender-editor-bg-sat,
                            $cim-calender-editor-bg-light,
                            $cim-calender-editor-bg-alpha
                          );
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
    .title{
      margin-bottom: 10px;
    }
    .footer{
      margin-top: 10px;
    }

    .editorEntry{
      margin-top: 5px;
    }
  }

  #addEvent,#delEvent{
    text-align: center;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 8px;
    cursor: default;
  }


  #hiEventEditorTriangle{
    background-color: hsla(
                    $cim-calender-editor-bg-hue,
                    $cim-calender-editor-bg-sat,
                    $cim-calender-editor-bg-light,
                    $cim-calender-editor-bg-alpha
    );
    //box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
    box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,.07);
    height: 10px;
    width:  10px;
    position: absolute;
    bottom: -5px;
    transform:             rotate( 134deg );
  }
}