<div data-hubiso-module="root.ctns_imprvmt.calendar" ng-controller="hicalendar">
    <div class="row">
        <div class="col-xs-12">
            <div id="hicalendar" hicalendar></div>
        </div>
    </div>

    <div id="hiEventEditor" hieventeditor>
        <div ng-show="state==='add'">
            <div class="row title">
                <div class="col-xs-11">
                    Schedule |
                    <select ng-model="schedule">
                        <option ng-repeat="opt in schedule_opts" value="{{opt.val}}">{{opt.name}}</option>
                    </select>
                </div>
                <div class="col-xs-1" ng-click="closeEventEditor()">
                    <i class="fa fa-close"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    When:
                </div>
                <div class="col-xs-10">
                    {{when}}
                </div>
            </div>
            <div class="row editorEntry" ng-show="schedule==='rv'">
                <div class="col-xs-2">
                    Review:
                </div>
                <div class="col-xs-10">
                    <select ng-model="review">
                        <option ng-repeat="rv_opt in reviews" value="{{$index}}" >{{rv_opt.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row editorEntry" ng-show="schedule==='oc'">
                <div class="col-xs-3">
                    Occurence:
                </div>
                <div class="col-xs-9">
                    <select ng-model="occurence">
                        <option ng-repeat="oc_opt in occurences" value="{{$index}}" >{{oc_opt.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row footer">
                <div class="col-xs-3">
                    <div id="addEvent" ng-click="addEvent()">Add</div>
                </div>
            </div>
        </div>
        <div ng-show="state==='edit'">
            <div class="row title">
                <div class="col-xs-11">
                    {{event.title}}
                </div>
                <div class="col-xs-1" ng-click="closeEventEditor()">
                    <i class="fa fa-close"></i>
                </div>
            </div>
            <div class="row editorEntry" ng-show="event.type==='ia'">
                <div class="col-xs-2">
                    Action:
                </div>
                <div class="col-xs-10">
                    <div ng-show="isDue()">
                        <div class="editorAction" ng-click="goFullscreen('action_plan')">Fill in Action plan</div>
                    </div>
                    <div ng-hide="isDue()">Not Available</div>
                </div>
            </div>
            <div class="row editorEntry" ng-show="event.type==='rv'">
                <div class="col-xs-2">
                    Action:
                </div>
                <div class="col-xs-10">
                    <div ng-show="isDue()">
                        <div class="editorAction" ng-click="goFullscreen('review')">Fill in form</div>
                    </div>
                    <div ng-hide="isDue()">Not Available</div>
                </div>
            </div>
            <div class="row editorEntry" ng-show="event.type==='oc'">
                <div class="col-xs-2">
                    Action:
                </div>
                <div class="col-xs-10">
                    <div ng-show="isDue()">
                        <div class="editorAction" ng-click="goFullscreen('occurence')">Fill in form</div>
                    </div>
                    <div ng-hide="isDue()">Not Available</div>
                </div>
            </div>

            <div class="row footer">
                <div class="col-xs-3">
                    <div id="delEvent" ng-click="delEvent()">Delete</div>
                </div>
            </div>
        </div>
        <div id="hiEventEditorTriangle"></div>
    </div>

    <div id="fullscreen">
        <div class="row block">
            <div id="closeFullscreen" class="col-xs-1 pull-right" ng-click="closeFullscreen()">
                <i class="fa fa-close"></i>
            </div>
        </div>
        <div ng-show="fullscreen_state==='action_plan'">
            <div class="row" id="action_plan">
                <div class="col-xs-12">
                    <div class="row block" id="header">
                        <div class="col-xs-1 ap_no">NO</div>
                        <div class="col-xs-3 ap_gap">NONCONFORMITY IDENTIFIED</div>
                        <div class="col-xs-3 ap_action">ACTION ITEMS</div>
                        <div class="col-xs-3 ap_person">PERSON RESPONSIBLE</div>
                        <div class="col-xs-2 ap_timeline">TIMELINE</div>
                    </div>
                    <div class="row ap_entry" ng-repeat="gap in gaps">
                        <div class="col-xs-1 ap_no">
                            {{$index+1}}
                        </div>
                        <div class="col-xs-3 ap_gap">
                            <textarea ng-model="gap.gap" ng-change="ap_update($index)"></textarea>
                        </div>
                        <div class="col-xs-3 ap_action">
                            <textarea ng-model="gap.action" ng-change="ap_update($index)"></textarea>
                        </div>
                        <div class="col-xs-3 ap_person">
                            <textarea ng-model="gap.person" ng-change="ap_update($index)"></textarea>
                        </div>
                        <div class="col-xs-2 ap_timeline">
                            <textarea ng-model="gap.timeline"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="fullscreen_state==='review'||fullscreen_state==='occurence'">
            <div class="row" id="review_form">
                <div class="col-xs-12">
                    <div id="form"></div>
                    <div id="hidden_div">
                        <textarea id="form_buff"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>