@import "hue";

$cim-mgtrv-sidebar-hover-hue:$hue;
$cim-mgtrv-sidebar-hover-sat:10%;
$cim-mgtrv-sidebar-hover-light:95%;
$cim-mgtrv-sidebar-hover-alpha:1;

$cim-mgtrv-sidebar-active-bg-hue:$hue;
$cim-mgtrv-sidebar-active-bg-sat:10%;
$cim-mgtrv-sidebar-active-bg-light:90%;
$cim-mgtrv-sidebar-active-bg-alpha:1;

$cim-mgtrv-checklist-input-name-border-hue:$hue;
$cim-mgtrv-checklist-input-name-border-sat:1%;
$cim-mgtrv-checklist-input-name-border-light:80%;
$cim-mgtrv-checklist-input-name-border-alpha:1;

$cim-mgtrv-checklist-ctrl-save-bg-hue:$hue-btn-green;
$cim-mgtrv-checklist-ctrl-save-bg-sat:1%;
$cim-mgtrv-checklist-ctrl-save-bg-light:80%;
$cim-mgtrv-checklist-ctrl-save-bg-alpha:1;

$cim-mgtrv-checklist-ctrl-save-hover-bg-hue:$hue-btn-green;
$cim-mgtrv-checklist-ctrl-save-hover-bg-sat:50%;
$cim-mgtrv-checklist-ctrl-save-hover-bg-light:25%;
$cim-mgtrv-checklist-ctrl-save-hover-bg-alpha:1;

$cim-mgtrv-checklist-ctrl-save-hover-color-hue:$hue-btn-green;
$cim-mgtrv-checklist-ctrl-save-hover-color-sat:50%;
$cim-mgtrv-checklist-ctrl-save-hover-color-light:100%;
$cim-mgtrv-checklist-ctrl-save-hover-color-alpha:1;