$hue:210;

$main-nav-bg-sat:50%;
$main-nav-bg-light:25%;
$main-nav-bg-alpha:1;

$main-nav-hover-sat:50%;
$main-nav-hover-light:100%;
$main-nav-hover-alpha:1;

$main-nav-txt-inert-hue:0;
$main-nav-txt-inert-sat:0%;
$main-nav-txt-inert-light:70%;
$main-nav-txt-inert-alpha:1;

$main-nav-txt-active-hue:$hue;
$main-nav-txt-active-sat:50%;
$main-nav-txt-active-light:25%;
$main-nav-txt-active-alpha:1;

$sec-nav-bg-sat:50%;
$sec-nav-bg-light:99%;
$sec-nav-bg-alpha:1;

$sec-nav-border-hue:0%;
$sec-nav-border-sat:0%;
$sec-nav-border-light:70%;
$sec-nav-border-alpha:1;

$body-bg-sat:100%;
$body-bg-light:99%;
$body-bg-alpha:1;

$cim-mgtrv-sidebar-hover-hue:$hue;
$cim-mgtrv-sidebar-hover-sat:10%;
$cim-mgtrv-sidebar-hover-light:95%;
$cim-mgtrv-sidebar-hover-alpha:1;

$cim-mgtrv-sidebar-active-bg-hue:$hue;
$cim-mgtrv-sidebar-active-bg-sat:10%;
$cim-mgtrv-sidebar-active-bg-light:90%;
$cim-mgtrv-sidebar-active-bg-alpha:1;


$colors-root-nav_bar-icon:#434343;
$colors-root-docs_n_records-nav_bar-font:#434343;
$border-color:#ccc;