@import "nav_colors";
@import "cim_colors";

$body-bg-sat:100%;
$body-bg-light:98.9%;
$body-bg-alpha:1;

$colors-root-nav_bar-icon:#434343;
$colors-root-docs_n_records-nav_bar-font:#434343;
$border-color:#ccc;