@import "hue";

$main-nav-bg-sat:50%;
$main-nav-bg-light:25%;
$main-nav-bg-alpha:1;

$main-nav-hover-sat:50%;
$main-nav-hover-light:100%;
$main-nav-hover-alpha:1;

$main-nav-txt-inert-hue:0;
$main-nav-txt-inert-sat:0%;
$main-nav-txt-inert-light:70%;
$main-nav-txt-inert-alpha:1;

$main-nav-txt-active-hue:$hue;
$main-nav-txt-active-sat:50%;
$main-nav-txt-active-light:25%;
$main-nav-txt-active-alpha:1;

$sec-nav-bg-sat:50%;
$sec-nav-bg-light:99%;
$sec-nav-bg-alpha:1;

$sec-nav-border-hue:$hue;
$sec-nav-border-sat:1%;
$sec-nav-border-light:80%;
$sec-nav-border-alpha:1;