@import "hue";

$update-progress-box-border-hue:$hue;
$update-progress-box-border-sat:1%;
$update-progress-box-border-light:80%;
$update-progress-box-border-alpha:1;

$update-progress-box-bg-hue:$hue-btn-green;
$update-progress-box-bg-sat:1%;
$update-progress-box-bg-light:80%;
$update-progress-box-bg-alpha:1;

$update-progress-bg-hue:$hue-btn-green;
$update-progress-bg-sat:50%;
$update-progress-bg-light:40%;
$update-progress-bg-alpha:1;