@import "formbuilder/formbuilder";
@import "../../../colors/colors";
@import "../../../dimens/dimens";
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"]{

  [class~="root.ctns_imprvmt.mgt_review.checklists.ctrlBox"]{
    height: $block-height;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.header"]{
    border-bottom: 1px solid $border-color;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry"]:nth-of-type(2n){
    background-color: #f0f0f0;
  }

  [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"]{
    cursor: default;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]{
    display: inline-block;
    margin-left: 10px;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]:nth-of-type(1){
    margin-left: 0px;
  }
}