@import "formbuilder/formbuilder";
@import "../../../colors/colors";
@import "../../../dimens/dimens";
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"]{

  [id="root.ctns_imprvmt.mgt_review.checklists.input.name"]{
    height: 100%;
    width: 100%;
    padding-left: $block-padding-left;
    border:1px solid hsla(
                          $cim-mgtrv-checklist-input-name-border-hue,
                          $cim-mgtrv-checklist-input-name-border-sat,
                          $cim-mgtrv-checklist-input-name-border-light,
                          $cim-mgtrv-checklist-input-name-border-alpha
                          )
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.ctrlBox"],
  [class~="root.ctns_imprvmt.mgt_review.checklists.inputBox"]{
    height: $block-height;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.inputBox"]{
    padding: $block-height*.2;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.header"]{
    border-bottom: 1px solid $border-color;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry"]:nth-of-type(2n){
    background-color: #f0f0f0;
  }

  [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"]{
    cursor: default;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]{
    display: inline-block;
    margin-left: 10px;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]:nth-of-type(1){
    margin-left: 0px;
  }
}