<div data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists" ng-controller="ctns_imprvmt.mgt_review.checklistsCtrl">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.checklists.inputBox">
            <input type="text" id="root.ctns_imprvmt.mgt_review.checklists.input.name" placeholder="Checklist name" ng-model="clname"/>
        </div>
        <div class="col-xs-2 root.ctns_imprvmt.mgt_review.checklists.ctrlBox">
            <div id="root.ctns_imprvmt.mgt_review.checklists.checklist.save" ng-click="createCl()">save</div>
        </div>
    </div>
    <div class="row root.ctns_imprvmt.mgt_review.checklists.checklist.header">
        <div class="col-xs-1 root.ctns_imprvmt.mgt_review.checklists.checklist.header.th">
            <input type="checkbox"/>
        </div>
        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.checklists.checklist.header.th">
            Name
        </div>
        <div class="col-xs-2 root.ctns_imprvmt.mgt_review.checklists.checklist.header.th">
            Action(s)
        </div>
    </div>
    <div class="row root.ctns_imprvmt.mgt_review.checklists.checklist.entry" ng-repeat="cl in checklists">
        <div class="col-xs-1 root.ctns_imprvmt.mgt_review.checklists.checklist.entry.td">
            <input type="checkbox"/>
        </div>
        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.checklists.checklist.entry.td">
            {{cl.name}}
        </div>
        <div class="col-xs-2 root.ctns_imprvmt.mgt_review.checklists.checklist.entry.td">
            <div ng-click="editCl(cl)" class="hubiso-icon-edit root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"></div>
            <div ng-click="deleteCl(cl)" class="hubiso-icon-trash root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"></div>
        </div>
    </div>
</div>