@import "formbuilder/formbuilder";
@import "../../../colors/colors";
@import "../../../dimens/dimens";
[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists"]{

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.header.th"],
  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.td"]{
    height: $block-height;
    line-height: $block-height;
    vertical-align: middle;
  }


  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.header"]{
    background-color: hsla(
                    $sec-nav-bg-hue,
                    $sec-nav-bg-sat,
                    $sec-nav-bg-light,
                    $sec-nav-bg-alpha
    );

    border-bottom: 1px solid hsla(
                    $cim-mgtrv-checklist-header-border-hue,
                    $cim-mgtrv-checklist-header-border-sat,
                    $cim-mgtrv-checklist-header-border-light,
                    $cim-mgtrv-checklist-header-border-alpha
    );

    border-top: 1px solid hsla(
                    $cim-mgtrv-checklist-header-border-hue,
                    $cim-mgtrv-checklist-header-border-sat,
                    $cim-mgtrv-checklist-header-border-light,
                    $cim-mgtrv-checklist-header-border-alpha
    );

  }

  [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"]{
    text-align: center;
    line-height: $block-height*.8;
    vertical-align: middle;
    background-color: hsla(
                    $cim-mgtrv-sidebar-active-bg-hue,
                    $cim-mgtrv-sidebar-active-bg-sat,
                    $cim-mgtrv-sidebar-active-bg-light,
                    $cim-mgtrv-sidebar-active-bg-alpha
    );
    height: 100%;
    transition: background $hover-transition-duration, color $hover-transition-duration;
  }

  [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"]:hover{
    background-color: hsla(
                    $cim-mgtrv-checklist-ctrl-save-hover-bg-hue,
                    $cim-mgtrv-checklist-ctrl-save-hover-bg-sat,
                    $cim-mgtrv-checklist-ctrl-save-hover-bg-light,
                    $cim-mgtrv-checklist-ctrl-save-hover-bg-alpha
    );

    color: hsla(
                    $cim-mgtrv-checklist-ctrl-save-hover-color-hue,
                    $cim-mgtrv-checklist-ctrl-save-hover-color-sat,
                    $cim-mgtrv-checklist-ctrl-save-hover-color-light,
                    $cim-mgtrv-checklist-ctrl-save-hover-color-alpha
    );

  }

  [id="root.ctns_imprvmt.mgt_review.checklists.input.name"]{
    height: 100%;
    width: 100%;
    padding-left: $block-padding-left;
    border:1px solid hsla(
                          $cim-mgtrv-checklist-input-name-border-hue,
                          $cim-mgtrv-checklist-input-name-border-sat,
                          $cim-mgtrv-checklist-input-name-border-light,
                          $cim-mgtrv-checklist-input-name-border-alpha
                          );
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.ctrlBox"],
  [class~="root.ctns_imprvmt.mgt_review.checklists.inputBox"]{
    height: $block-height;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.inputBox"]{
    padding: $block-height*.2;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.ctrlBox"]{
    padding: $block-height*.1;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry"]:nth-of-type(2n){
    background-color: hsla(
                    $cim-mgtrv-sidebar-active-bg-hue,
                    $cim-mgtrv-sidebar-active-bg-sat,
                    $cim-mgtrv-sidebar-active-bg-light,
                    $cim-mgtrv-sidebar-active-bg-alpha
    );
  }

  [id="root.ctns_imprvmt.mgt_review.checklists.checklist.save"]{
    cursor: default;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]{
    display: inline-block;
    margin-left: 10px;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.entry.action"]:nth-of-type(1){
    margin-left: 0px;
  }
}