@font-face {
  font-family: raleway;
  src: url(fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway-semi-bold;
  src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(fonts/raleway/Raleway-Bold.ttf);
}