<div data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event" ng-controller="ctns_imprvmt.mgt_review.schedule.eventCtrl">
    <div class="row">
        <div class="col-xs-2">
            Schedule review(s)
        </div>
        <div class="col-xs-1">
            <div id="root.ctns_imprvmt.mgt_review.schedule.event.save" class="root.ctns_imprvmt.mgt_review.schedule.event.action" ng-click="addEvent()">
                Save
            </div>
        </div>
        <div class="col-xs-1">
            <div id="root.ctns_imprvmt.mgt_review.schedule.event.discard" class="root.ctns_imprvmt.mgt_review.schedule.event.action" ng-click="discard()">
                Discard
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label">Review :</div>
                <div class="col-xs-5">
                    <select name="" id="" ng-model="evt.rv">
                        <option ng-repeat="rv in reviews" value="{{rv._id}}">{{rv.name}}</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <div style="display:none">remove</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label">From :</div>
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-8 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                            <input type="date" ng-model="evt.from.date"/>
                        </div>
                        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                            <input type="text" ng-model="evt.from.time" value="{{d4lts.time}}" timepicker/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label">To :</div>
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-8 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                            <input ng-model="evt.to.date" type="date"/>
                        </div>
                        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                            <input type="text" ng-model="evt.to.time" timepicker/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv.box">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label"></div>
                <div class="col-xs-5">
                    <div class="row">
                        <div class="col-xs-8 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                            <div id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv">Add review</div>
                        </div>
                        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
    </div>

    <div class="row root.ctns_imprvmt.mgt_review.schedule.event.section.label">
        <div class="col-xs-12">Reminders</div>
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-5">

            <div ng-click="addReminder()" id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.reminder">Add reminder</div>
            <div class="form-inline root.ctns_imprvmt.mgt_review.schedule.event.form.subform.reminder" ng-repeat="reminder in reminders">
                <select name="" ng-model="reminder.type">
                    <option value="email">Email</option>
                    <option value="popup">Popup</option>
                </select>
                <input ng-model="reminder.time_v" class="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.reminder.time.val" type="number"/>
                <select ng-model="reminder.time_t" class="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.reminder.time.type" name="">
                    <option value="m">minutes</option>
                    <option value="h">hours</option>
                    <option value="d">days</option>
                    <option value="w">weeks</option>
                    <option value="M">months</option>
                    <option value="y">years</option>
                </select>
                before each event.
                <span ng-click="removeReminder($index)" class="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.remove.reminder">remove</span>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>

</div>