[data-hubiso-module="root.ctns_imprvmt.mgt_review.schedule.event"]{
  padding-top:10px;

  [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.label"]{
    text-align: right;
  }

  [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.box"]{
    padding: 0;
  }

  [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv.box"]{
    margin-top: 10px;
  }

  [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.rv"]{
    cursor: default;
    display: none;
  }
  [class~="root.ctns_imprvmt.mgt_review.schedule.event.action"]{
    cursor: default;
  }

  [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.input.reminder.time.val"]{
    text-align: right;
    width: 90px;
  }

  [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.remove.reminder"]{
    font-size: smaller;
    cursor: default;
  }

  [id="root.ctns_imprvmt.mgt_review.schedule.event.form.entry.action.add.reminder"]{
    cursor: default;
    margin-bottom: 10px;
  }

  [class~="root.ctns_imprvmt.mgt_review.schedule.event.form.subform.reminder"]{
    margin-bottom: 5px;
  }
}