<div data-hubiso-module="root.docs_n_records.master_list.edit" ng-controller="rootDnrMlEditCtrl" root-dnr-ml-edit-win-rsz ng-style="style">

    <div class="row" id="root.docs_n_records.master_list.edit.box.title">
        <div class="col-xs-11">
            {{cat}} | <input class="root.docs_n_records.master_list.edit.doc.name" type="text" ng-model="doc.name" ml-doc-name />
        </div>
        <div class="col-xs-1 root.nav_bar.nav_option">
            <div class="hubiso-icon-print" ng-click="savePdf()"></div>
        </div>
    </div>

    <div class="row" id="root.docs_n_records.master_list.edit.box.editor" >
        <div class="col-xs-12">
            <div id="root.docs_n_records.master_list.edit.editor">
            </div>
        </div>
    </div>

</div>