<div data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists.formbuilder" ng-controller="ctns_imprvmt.mgt_review.checklists.formbuilderCtrl">

    <div class="row">
        <div class="col-xs-4">
            <input type="text" placeholder="Checklist name" ng-model="checklist.name"/>
        </div>
        <div class="col-xs-2">
            <div ng-click="saveEditCl()" id="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.save" class="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action hubiso-icon-check-mark"></div>
            <div ng-click="cancelEditCl()" id="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.cancel" class="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action hubiso-icon-remove"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.form" form-buildr></div>
        </div>
    </div>

</div>