[data-hubiso-module="root.ctns_imprvmt.mgt_review.checklists.formbuilder"]{

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action"]{
    display: inline-block;
    margin-left: 10px;
  }

  [class~="root.ctns_imprvmt.mgt_review.checklists.checklist.formbuilder.action"]:nth-of-type(1){
    margin-left: 0px;
  }

  #frmb-0-export-xml,#frmb-0-save{
    display: none;
  }
}