@import "../../../dimens/dimens";
@import "../../../colors/colors";
[data-hubiso-module="root.ctns_imprvmt.mgt_review.sidebar"]{

  [class~="root.ctns_imprvmt.mgt_review.sidebar.option"]{
      height: $block-height;
      line-height: $block-height;
      vertical-align: middle;
      cursor: default;
      font-size:$block-height*.4;
      padding-left: $block-padding-left;
      transition: background $hover-transition-duration, color $hover-transition-duration;
  }

  [id="root.ctns_imprvmt.mgt_review.sidebar.option.listBox"]{
    padding: 0;
  }

  [class~="root.ctns_imprvmt.mgt_review.sidebar.option"]:hover{
    background-color: hsla( $cim-mgtrv-sidebar-hover-hue,
                            $cim-mgtrv-sidebar-hover-sat,
                            $cim-mgtrv-sidebar-hover-light,
                            $cim-mgtrv-sidebar-hover-alpha);
  }

  [class~="root.ctns_imprvmt.mgt_review.sidebar.option"].active{
    background-color: hsla(
                              $cim-mgtrv-sidebar-active-bg-hue,
                              $cim-mgtrv-sidebar-active-bg-sat,
                              $cim-mgtrv-sidebar-active-bg-light,
                              $cim-mgtrv-sidebar-active-bg-alpha
                          );
  }
}