@import "../../../dimens/dimens";
[data-hubiso-module="root.ctns_imprvmt.mgt_review.sidebar"]{

  [class~="root.ctns_imprvmt.mgt_review.sidebar.option"]{
      height: $block-height;
      line-height: $block-height;
      vertical-align: middle;
      cursor: default;
      font-size:$block-height*.4;
  }

}