<div data-hubiso-module="root.ctns_imprvmt.mgt_review.qims" ng-controller="ctns_imprvmt.mgt_review.qimsCtrl">

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4 root.ctns_imprvmt.mgt_review.qims.inputBox" >
            <input type="text" placeholder="Quality form name" ng-model="rv.name"/>
        </div>
        <div class="col-xs-2 root.ctns_imprvmt.mgt_review.qims.inputBox">
            <select name="" id="" ng-model="rv.cl">
                <option value=""></option>
                <option ng-repeat="cl in checklists" value="{{cl._id}}">{{cl.name}}</option>
            </select>
        </div>
        <div class="col-xs-2 root.ctns_imprvmt.mgt_review.qims.ctrlBox">
            <div id="root.ctns_imprvmt.mgt_review.qims.qimlist.save" ng-click="createRv()">save</div>
        </div>
    </div>
    <div class="row root.ctns_imprvmt.mgt_review.qims.qimlist.header">
        <div class="col-xs-1">
            <input type="checkbox"/>
        </div>
        <div class="col-xs-4">
            Name
        </div>
        <div class="col-xs-2">
            Checklist
        </div>
        <div class="col-xs-2">
            Action(s)
        </div>
    </div>
    <div class="row root.ctns_imprvmt.mgt_review.qims.qimlist.entry" ng-repeat="rv in qims">
        <div class="col-xs-1">
            <input type="checkbox"/>
        </div>
        <div class="col-xs-4">
            <div ng-hide="editRvId===rv._id">{{rv.name}}</div>
            <div ng-show="editRvId===rv._id">
                <input id="_rv_edit_name_{{rv._id}}" type="text" placeholder="qim name" value="{{rv.name}}"/>
            </div>

        </div>
        <div class="col-xs-2">
            <div ng-hide="editRvId===rv._id">{{nameMap[rv.cl]}}</div>
            <div ng-show="editRvId===rv._id">
                <select id="_rv_edit_cl_{{rv._id}}" name="">
                    <option ng-if="cl._id !== rv.cl" ng-repeat="cl in checklists" value="{{cl._id}}">{{cl.name}}</option>
                    <option ng-if="cl._id === rv.cl" selected ng-repeat="cl in checklists" value="{{cl._id}}">{{cl.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-click="editRv(rv)" ng-hide="editRvId===rv._id" class="hubiso-icon-edit root.ctns_imprvmt.mgt_review.qims.qimlist.entry.action"></div>
            <div ng-click="deleteRv(rv)" ng-hide="editRvId===rv._id" class="hubiso-icon-trash root.ctns_imprvmt.mgt_review.qims.qimlist.entry.action"></div>
            <div ng-click="saveEditRv(rv)" ng-show="editRvId===rv._id" class="hubiso-icon-check-mark root.ctns_imprvmt.mgt_review.qims.qimlist.entry.action"></div>
            <div ng-click="cancelEditRv()" ng-show="editRvId===rv._id" class="hubiso-icon-remove root.ctns_imprvmt.mgt_review.qims.qimlist.entry.action"></div>
        </div>
    </div>
</div>